<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .yellow{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <form id="grid_choice" name="grid_form" action=/mosaic_view2 method="POST">
    Image Chosen:
    <br><br>
    <img class='galImages' src="{{data}}" width="1260" height="735" usemap="#grid"/>
    <map name="grid">
        {% set ns1 = namespace(top = -15) %}
        {% set ns2 = namespace(bottom = 0) %}
        {% set ns3 = namespace(left = -25) %}
        {% set ns4 = namespace(right = 0) %}
        {% set ns5 = namespace(imageNum = 0) %}
        {% for x in range(50) %}
                {% set ns1.top = ns1.top + 15 %}
                {% set ns2.bottom = ns2.bottom + 15 %}
                {% set ns3.left = -25 %}
                {% set ns4.right = 0 %}
                {% for y in range(50) %}
                    {% set ns5.imageNum = x*50+y %}
                    {% set ns3.left = ns3.left + 25 %}
                    {% set ns4.right = ns4.right + 25 %}
                    <area shape="rect" class="yellow" coords="{{ ns3.left }},{{ ns1.top }},{{ ns4.right }},{{ ns2.bottom }}" alt="image {{ns5.imageNum}}" href="#">
                {% endfor %}
        <!--area shape="rect" coords="0,0,300,300" alt="Computer" href="gallery_view_10_19.html"-->
        {% endfor %}
    </map>
    <input hidden type="text" name="altimageNum" id="clickedimage">
    <div class="form_button">
        <input value="Submit" type="submit" id="submitbutton">
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        /*$(".yellow").on("click", function(e){
        e.preventDefault();
        alert('test');
        });*/

        $(document).ready(function()
        {
            $('.yellow').click(function() {
                if($(this).hasClass('selected'))
                {
                    $(this).removeClass('selected');
                    $("input:text").val("");
                }
                else {
                    $(this).addClass('selected');
                    $("input:text").val( $(this).attr('alt') );
                }
            });
        });
    </script>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

